<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.min.js"></script>
    <link rel="shortcut icon" href="/static/images/notes.ico" />
    <style>
        .page {
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">我的便签</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('add_notes') }}">添加便签</a></li>
                    <li><a href="{{ url_for('timings') }}">我的定时</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        {% block page %}{% endblock %}
    </div>
</body>
</html>