{% extends 'base.html' %}

{% block title %}你的定时{% endblock %}

{% block page %}
    <h1>你的定时任务</h1>
    <hr>
    <script>
        del_timing = function(id){
            $.ajax({
                type: 'DELETE',
                url: '{{ url_for("timings") }}',
                async: false,
                data: {
                    "id": id
                },
                success: function(){
                    window.location.reload();
                },
            });
        }
    </script>
    <table class="table">
        <thead>
            <tr>
                <th>编号</th>
                <th>触发时间</th>
                <th>便签ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for timing in timings %}
            <tr>
                <td>{{ timing[0] }}</td>
                <td>{{ strftime(timing[1]) }}</td>
                <td><a href="/update-notes?id={{ timing[2] }}">{{ timing[2] }}</a></td>
                <td>
                    <button class="btn btn-danger" onclick="del_timing('{{ timing[0] }}')">删除</button>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}